{% extends 'header.html' %}
{% block content %}

<div class="jumbotron container my-5 welcome-box">
    <div class="welcome-box-header">
        <h1>Witaj!</h1>
    </div>
    <p class="lead">Celem projektu było stworzenie aplikacje webowej, pozwalającej na wizualizację i analizę danych
        udostępnionych przez zespół 4.
        Aplikacja ma za zadanie pobieranie danych znajdujących się w API przygotowanym przez zespół 4, a następnie
        umieszczenie ich w bazie
        danych i umożliwienie prezentacji użytkownikowi w przeglądarce w przyjaznej formie. Dostępne mają być również
        opcje umożliwiające ich
        analizę.
    </p>

</div>

{% endblock %}