{% extends 'header.html' %}
{% block content %}

    <div class="jumbotron container bg-success my-5">
        <center>
        <h1 class="display-4">Witaj!</h1><br><br>
        <p class="lead">W tym badaniu sprawdzamy wasze preferencje odnośnie stołowania się poza domem.</p>
        </center>
        <hr class="my-4">
        <p>Będzie nam bardzo miło, jeśli poświęcisz nam chwilę i wypełnisz ankietę</p><br>
        <a class="btn btn-danger btn-lg" href="/poll" role="button">Wypełniam!</a>

    </div>

{% endblock %}