{% extends 'header.html' %}
{% block content %}

    <div class="jumbotron container bg-success">
        <center>
        <h1 class="display-4">Witaj w Ankietce!</h1><br>
        <p class="lead">Jeszcze nie wiadomo czego dotyczy ale na pewno będzie bardzo fajna i ma kolory AGH</p>
        </center>
        <hr class="my-4">
        <p>Będzie nam bardzo miło, jeśli poświęcisz nam chwilę i wypełnisz Ankietkę</p><br>
        <a class="btn btn-danger btn-lg" href="/poll" role="button">Wypełnij Ankietkę</a>

    </div>

{% endblock %}