{% extends 'header.html' %}
{% block content %}

<div class="container my-5 mx-5">
  <div class="page-header">
    <h1>Wprowadź plik z danymi EKG</h1>
  </div>

  <!-- <form role="form" action="/thx" method="post"> -->
  <form class="form-group" action="/thx" method="post" enctype="multipart/form-data">
    Wybierz plik z danymi:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
  </form>
  <!-- </form> -->
</div>
{% endblock %}