{% extends 'header.html' %}
{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="page-header add-data-header">
      <h1>Wprowadź plik z danymi EKG</h1>
    </div>
  </div>
  <!-- <form role="form" action="/thx" method="post"> -->
  <div class="row justify-content-md-center">
    <form class="form-group" action="/upload" method="post" enctype="multipart/form-data">
      Wybierz plik z danymi:
      <input type="file" name="file" id="file">
      <input class="btn btn-primary btn-lg active" type="submit" value="Upload" name="submit">
    </form>
  </div>
  <!-- </form> -->
</div>
{% endblock %}