{% extends 'header.html' %}
{% block content %}

    <div class="jumbotron container bg-success my-5">
        <center>
        <h1 class="display-4">Dziękujemy za wypelnienie ankiety!</h1><br>

        </center>
        <hr class="my-4">
        <p>Możesz teraz wrócić do strony głównej lub obejrzeć wyniki</p><br>
        <a class="btn btn-danger btn-lg" href="/" role="button">Powrót</a>
        <a class="btn btn-danger btn-lg" href="/dane" role="button">Wyniki</a>

    </div>

{% endblock %}